@charset "UTF-8";

main div{
	font-size: 1.3em;
	text-align: center;
}

main img{
	margin :16px;
}

input{
	font-size: 16px;
}

select{
	font-size: 16px;
}

textarea{
	width :320px;
	height :80px;
	font-size: 16px;
	margin-left: 16px;
}

.tr1,.tr1 td{
	font-weight: bold;
	padding-top: 16px;
	padding-bottom: 16px;
}

main span{
	background :#ff1a18;
	font-size :smaller;
}

select{
	margin-left: 16px;
}

form{
	width: 560px;
	margin: 0 auto;
}

.btn_area{
	margin-bottom :24px;
}

.error{
	color :#ff1a18;
	font-size :smaller;
}
