@charset "UTF-8";

.product{
	text-align :center;
	padding :8px;
}

.product img{
	width :400px;
	height :auto;
	float :left;
}


table{
	width : 55%;
	height ; auto:
  border-collapse:collapse;
  margin:40px auto ;
}

th{
	width : 100px;
}

td,th{
  border-top:1px solid #666;
  padding:10px;
}

tr:last-child td,
tr:last-child th{
  border-bottom:1px solid #666;  
}

#lnav{
	width :100%;
	height :100%;
	margin : -8px 0;
	padding-top : 16px;
	background-color :#cc0000;
}


#lnav li{
	text-align :center;
	list-style-type :none;
	height :48px;
	font-weight :bold;

}

#container{
	width : 100%;
	margin : 0 auto;
}

#container #left{
	width :20%;
	height :100%;
	float :left;
}

#container #right{
	width :80%;
	float :right;
}

.clearfix::after{
	content : "";
	display : block;
	clear : both;
}

